@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: "brandon-grotesque", sans-serif;
	
}

body {
	background-color: #134946;
	font-family: "brandon-grotesque", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-size: 16px;
	font-weight: 400;
}

.header .container {
	background-color: #FFF;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
}
.main p {
	
	font-family: "brandon-grotesque",sans-serif;
	font-style: italic;
	font-weight: 100;
	font-size: 22px;
	color: #1f7d7d;
}

.main .container {
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.footer .container {
	background-color: #FFF;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
}
.footer p {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #134946;
	font-weight: 400;
}

#emphasis {
	font-family: "brandon-grotesque", sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #1f7d7d;
	font-weight: bold;	
}
