@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: 'Open Sans', sans-serif;
	src: url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,600,300");
	
}

body {
	background-color: #134946;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.header .container {
	background-color: #FFF;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 5px;
}
.main p {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.main .container {
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.footer .container {
	background-color: #FFF;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 5px;
}
.footer p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #134946;
	font-weight: 100;
}
