---
layout: template
---
<div class="main clearfix">
<div class="col-md-10 col-md-offset-1">
<div class="post">

<h2><a href="/blog/"><span class="glyphicon glyphicon-arrow-left"></span></a></h2>

  <header class="post-header">
    <h2>{{ page.title }}</h2>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>
</div>
</div>
